<?php require $_config->layouts->header; ?>


    <h1><?=$page_h1?></h1>

    <table class="list" cellspacing="2" cellpadding="0">

        <tr class="caption">
            <td width="140"><?=view::$language->datetime?></td>
            <td width="120"><?=view::$language->node?></td>
            <td width="120"><?=view::$language->name?></td>
            <td width="140">E-mail</td>
            <td width="100">IP/Link</td>
            <td colspan="2"><?=view::$language->actions?></td>
        </tr>

        <?php foreach ($comments as $comment) { ?>

        <tr>
            <td><?=$comment['creation_date']?></td>
            <td><a target="_blank" href="<?=$comment['page_alias']?>#comments"><?=$comment['node_name']?></a></td>
            <td><?=$comment['author_name']?></td>
			<td><?=$comment['author_email']?></td>
            <td>

				<?php if ($comment['author_id'] === null) { ?>
					<?=$comment['author_ip']?>
				<?php } else { $link = "{$_config->site->admin_tools_link}/users/edit?id={$comment['author_id']}"; ?>
					<a href="<?=$link?>"><?=$link?></a>
				<?php } ?>

			</td>
            <td class="action"><a href="<?=$_config->site->admin_tools_link?>/manage-comments/edit?id=<?=$comment['id']?>"><?=view::$language->edit_now?></a></td>
            <td class="action"><a href="<?=$_config->site->admin_tools_link?>/manage-comments/delete?id=<?=$comment['id']?>" onclick="return confirmation('<?=view::$language->comment_delete_confirm?>');"><?=view::$language->delete_now?></a></td>
        </tr>

        <?php } ?>

        <?php if (!$comments) { ?>
            <tr><td colspan="6" class="action"><h3>[<?=view::$language->empty_data?>]</h3></td></tr>
        <?php } ?>

    </table>

    <div class="paginator">
        <?php foreach ($pages as $item) { ?>
            <a<?=$item['current']?' class="current"':''?> href="<?=helper::changeOriginURL(array('page' => $item['number']))?>"><?=$item['number']?></a>
        <?php } ?>
    </div>


<?php require $_config->layouts->footer; ?>
