<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<?=$_config->site->admin_resources?>styles/main.css" type="text/css" />

    <title><?=view::$language->admin_tools?></title>

</head>
<body>

<div id="login-container">

    <div class="top-line">

        <div class="left-item name"><img src="<?=$_config->site->admin_resources?>images/small-logo.png" /><?=$_config->application->name?> <sup><?=$_config->application->version?></sup></div>
        <div class="left-item-last">&nbsp;</div>

        <div class="right-item-last">&nbsp;</div>
        <div class="right-item"><a href="/"><?=view::$language->admin_logout?></a></div>
        <div class="right-item-first">&nbsp;</div>

    </div>

    <div class="top-status-line">
        <div class="left-item message"><img src="<?=$_config->site->admin_resources?>images/<?=$login_image?>.png" /><b><?=$login_message?>!</b></div>
    </div>

    <div class="login-place r">
        <form action="<?=$_config->site->admin_tools_link?>" method="post">

            <div class="half-height"><input type="hidden" name="sign_in" value="" /></div>
            <div><?=view::$language->admin_nickname_or_email?>: <input id="login" type="text" name="login" value="" autocomplete="off" /></div>
            <div><?=view::$language->admin_password?>: <input type="password" name="password" value="" autocomplete="off" /></div>
            <div><input type="submit" name="submit" value=" <?=view::$language->admin_sign_in?> " /></div>

            <script type="text/javascript">
                document.getElementById("login").focus();
            </script>

        </form>
    </div>

    <div class="login-bottom-blue"></div>

</div>

</body>
</html>
