<?php require $_config->layouts->header; ?>


    <h1><?=$page_h1?></h1>

    <?php foreach($sourcelist as $item) { ?>

        <div class="component">
            <h3><?=$item['name']?></h3>
            <div class="version"><?=view::$language->manage_components_version?>: <b><?=$item['version']?></b></div>
            <div class="propertynames">
                <div><?=view::$language->manage_components_type?>:</div>
                <div><?=view::$language->manage_components_sysname?>:</div>
                <div><?=view::$language->manage_components_author?>:</div>
                <div><?=view::$language->manage_components_author_site?>:</div>
                <div><?=view::$language->manage_components_author_email?>:</div>
            </div>
            <div class="propertyvalues">
                <div><?=$item['type']?></div>
                <div><?=$item['system_name']?></div>
                <div><?=$item['author']?></div>
                <div><a target="_blank" href="<?=$item['main_url']?>"><?=$item['main_url']?></a></div>
                <div><?=$item['support_email']?></div>
            </div>
            <div class="description"><?=$item['description']?></div>
            <div class="clear"></div>
            <div class="actionbuttons">
                <?php if ($item['installed']) { ?>
                    <a href="<?=$_config->site->admin_tools_link?>/manage-components/delete?target=<?=$item['system_name']?>"><?=view::$language->manage_components_delete?></a>
                    <?php if ($item['deprecated']) { ?>
                        <?=view::$language->manage_components_av_new_version?> <b><?=$item['new_version']?></b>
                        <a href="<?=$_config->site->admin_tools_link?>/manage-components/update?target=<?=$item['system_name']?>"><?=view::$language->manage_components_update?></a>
                    <?php } ?>
                <?php } else { ?>
                    <a href="<?=$_config->site->admin_tools_link?>/manage-components/install?target=<?=$item['system_name']?>"><?=view::$language->manage_components_install?></a>
                <?php } ?>
            </div>
        </div>

    <?php } ?>


<?php require $_config->layouts->footer; ?>
