<?php require $_config->layouts->header; ?>


    <h1><?=$page_h1?></h1>


    <form class="silentform" action="<?=$_config->site->admin_tools_link?>/menu/edit?id=<?=$menu['id']?>" method="post">
        <div class="form">

            <div class="label">&laquo;&laquo; <a href="javascript:history.back();"><?=view::$language->go_back?></a></div>
            <div class="elem">&nbsp;</div>

            <div class="label mt-20"><?=view::$language->menu_mirror_id?>:</div>
            <div class="elem mt-20"><input id="menu-mirror-id" class="mini required" type="text" name="mirror_id" value="<?=$menu['mirror_id']?>" /></div>

            <div class="label"><?=view::$language->menu_name?>:</div>
            <div class="elem"><input class="required" type="text" name="name" value="<?=$menu['name']?>" /></div>

            <script type="text/javascript">
                document.getElementById("menu-mirror-id").focus();
            </script>

            <div class="label mt-20">&nbsp;</div>
            <div class="elem mt-20"><span class="info"><?=view::$language->red_is_required?></span></div>
            <div class="label">&nbsp;</div>
            <div class="elem">
                <input type="submit" name="silentsave" value=" <?=view::$language->save?> " />
                <input type="submit" name="save" value=" <?=view::$language->save_and_out?> " />
            </div>

            <div class="clear"></div>

        </div>
    </form>


<?php require $_config->layouts->footer; ?>
