<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-language" content="<?=$_member['language']?>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<?=$_config->site->admin_resources?>styles/main.css" type="text/css" />

    <script type="text/javascript" src="<?=$_config->site->admin_tools_link?>/variables.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/jquery/jquery.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/jquery/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/jquery/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/jquery/jquery.fileupload.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/common.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/node-images.js"></script>

    <title><?=view::$language->admin_tools?> :: <?=$page_title?></title>

</head>
<body>

<div id="stretch-container">

    <div class="top-line">

        <div class="left-item help"><a target="_blank" href="http://www.deep-cms.ru/wiki/<?=$_config->application->version?>" title=" <?=view::$language->help?> ">?</a></div>
        <div class="left-item name"><img src="<?=$_config->site->admin_resources?>images/small-logo.png" /><?=$_config->application->name?> <sup><?=$_config->application->version?></sup></div>
        <div class="left-item-last">&nbsp;</div>
        <div class="right-item">
            <a id="deleteallimages" href="#alldelete" title=" <?=view::$language->images_delete_all?> "><?=view::$language->images_delete_all?></a>
            <a class="showpopupform" id="showuploadform" href="#uploadnew" title=" <?=view::$language->images_upload_now?> "><?=view::$language->images_upload_now?></a>
        </div>

    </div>

    <div id="innerdata" data-deleteimageconfirm="<?=view::$language->image_delete_confirm?>" data-target="<?=$target_node?>"></div>

    <div id="attachedimageswrapper">

        <?php foreach ($images as $item) { ?>

            <div class="image<?=$item['is_master']?' master':''?>">

                <div class="imagewrapper">
                    <a class="selectme" target="_blank" href="/upload/<?=$item['name']?>"><img alt="Loading..." src="/upload/thumb_<?=$item['name']?>" /></a>
                </div>

                <div class="actions c">

                    <div>
                        <a class="replaceaction" href="#replace" data-id="<?=$item['id']?>"><?=view::$language->replace_now?></a>
                    </div>

                    <div class="masterlink">
                        <a class="masteraction" href="<?=$_config->site->admin_tools_link?>/node-images/master?id=<?=$item['id']?>&target=<?=$target_node?>"><?=view::$language->make_is_master?></a>
                    </div>

                    <div>
                        <a class="deleteaction" href="<?=$_config->site->admin_tools_link?>/node-images/delete?id=<?=$item['id']?>&target=<?=$target_node?>"><?=view::$language->delete_now?></a>
                    </div>

                </div>

            </div>

        <?php } ?>

        <div class="h-40 clear"></div>

    </div>

</div>

<div id="coverblur"></div>
<div id="popupformwrapper">

    <div id="uploadprogress">
        <div id="progressstatus">0%</div>
        <img alt="" src="<?=$_config->site->admin_resources?>images/progress.gif" />
    </div>

    <form id="uploadform" action="<?=$_config->site->admin_tools_link?>/node-images/upload" enctype="multipart/form-data" method="post">

        <div class="r b">
            <a class="closepopupform" href="#close">✖</a>
        </div>

        <h3 id="uploadcaption"></h3>

        <input type="hidden" id="target_node" name="target_node" value="<?=$target_node?>" />
        <input type="hidden" id="action" name="action" value="add" />
        <input type="hidden" id="image_id" name="image_id" value="new" />

        <div class="separator"></div>

        <div class="size">
            <?=view::$language->image_original?>: <select name="original_size"><?=htmlHelper::drawOptionList($original_sizes)?></select>
        </div>

        <div class="square">
            <input type="checkbox" name="square_original" /> <?=view::$language->image_to_square?>
        </div>

        <div class="size">
            <?=view::$language->image_middle?>: <select name="middle_size"><?=htmlHelper::drawOptionList($middle_sizes)?></select>
        </div>

        <div class="square">
            <input type="checkbox" name="square_middle" /> <?=view::$language->image_to_square?>
        </div>

        <div class="size">
            <?=view::$language->image_thumbnail?>: <select name="thumbnail_size"><?=htmlHelper::drawOptionList($thumb_sizes)?></select>
        </div>

        <div class="square">
            <input type="checkbox" name="square_thumbnail" checked="checked" /> <?=view::$language->image_to_square?>
        </div>

        <div class="clear"></div>

        <div class="options">
            <div><input type="checkbox" name="stretch_image" checked="checked" /> <?=view::$language->image_stretch_if_small?></div>
            <div><input type="checkbox" name="add_watermark" /> <?=view::$language->image_add_watermark?></div>
        </div>

        <div id="filewrapper">
            <input type="file" id="uploadfile" name="uploadfile" multiple />
            <input type="button" value=" <?=view::$language->browse?> " />
        </div>
        <div class="clear"></div>

    </form>

</div>

<div id="popupchooseimage">

    <div class="r b">
        <a class="closepopupform" href="#close">✖</a>
    </div>

    <h3><?=view::$language->select_it?></h3>

    <div id="chooseimagesize">
        <a href="#" data-type="original"><?=view::$language->image_original?></a>
        <a href="#" data-type="middle"><?=view::$language->image_middle?></a>
        <a href="#" data-type="thumbnail"><?=view::$language->image_thumbnail?></a>
    </div>

</div>

<div id="notifier">
    <div class="notify">

        <h3></h3>
        <p></p>

    </div>
</div>

<script type="text/javascript">
    $("body, html").css({backgroundColor:"#ffffff"});
</script>

</body>
</html>
