<?php require $_config->layouts->header; ?>


    <h1><?=$page_h1?></h1>


    <form class="silentform" action="<?=$_config->site->admin_tools_link?>/tree/create?parent=<?=$node['parent_id']['value']?>" method="post">
        <div class="form">

            <div class="label mt-20">&nbsp;</div>
            <div class="elem mt-20">
                <input type="submit" name="silentsave" value=" <?=view::$language->tree_save?> " />
                <input type="submit" name="save" value=" <?=view::$language->tree_save_and_out?> " />
            </div>

            <div id="showpagename" class="longblock mt-20 c"></div>


            <?=adminHelper::getForm($node)?>


            <div class="label mt-30"><?=view::$language->tree_show_in_menu?>:</div>
            <div class="elem mt-30">

                <?php foreach ($in_menu as $checkbox) { ?>

                    <div class="inputbox" title=" <?=$checkbox['description']?> ">
                        <div class="blend"></div>
                        <input type="checkbox" name="<?=$checkbox['name']?>"<?=(isset($checkbox['checked']) && $checkbox['checked'])?' checked="checked"':''?> /> - <?=$checkbox['description']?>
                    </div>

                <?php } ?>

                <?php if (!$in_menu) { ?>
                    <span class="info">(<?=view::$language->tree_not_available_menu_list?>)</span>
                <?php } ?>

            </div>

            <?php if (sizeof($in_menu) > 1) { ?>

                <div class="label mt-20">&nbsp;</div>
                <div class="elem mt-20">
                    <div class="inputbox"><input class="primarychecker" type="checkbox" name="checkallmenu" /> - [<?=view::$language->tree_select_all?>]</div>
                </div>

            <?php } ?>


            <div class="label mt-20"><?=view::$language->tree_images_attached?>:</div>
            <div class="elem mt-20">
                <a id="attachedimages" href="<?=$_config->site->admin_tools_link?>/node-images?target=<?=$node['id']['value']?>"><?=view::$language->tree_show?></a>
            </div>

            <div class="label"><?=view::$language->tree_features?>:</div>
            <div class="elem">
                <a id="nodefeatures" href="<?=$_config->site->admin_tools_link?>/node-features?target=<?=$node['id']['value']?>"><?=view::$language->tree_show?></a>
            </div>


            <div class="label mt-20">&nbsp;</div>
            <div class="elem mt-20"><span class="info"><?=view::$language->tree_red_is_required?></span></div>
            <div class="label">&nbsp;</div>
            <div class="elem">
                <input type="submit" name="silentsave" value=" <?=view::$language->tree_save?> " />
                <input type="submit" name="save" value=" <?=view::$language->tree_save_and_out?> " />
            </div>

            <div class="clear"></div>

        </div>
    </form>


<?php require $_config->layouts->footer; ?>
