<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-language" content="<?=$_member['language']?>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<?=$_config->site->admin_resources?>styles/main.css" type="text/css" />

    <script type="text/javascript" src="<?=$_config->site->admin_tools_link?>/variables.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/jquery/jquery.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/common.js"></script>
    <script type="text/javascript" src="<?=$_config->site->admin_resources?>js/node-features.js"></script>

    <title><?=view::$language->admin_tools?> :: <?=$page_title?></title>

</head>
<body>

<div id="stretch-container">

    <div class="top-line">

        <div class="left-item help"><a target="_blank" href="http://www.deep-cms.ru/wiki/<?=$_config->application->version?>" title=" <?=view::$language->help?> ">?</a></div>
        <div class="left-item name"><img src="<?=$_config->site->admin_resources?>images/small-logo.png" /><?=$_config->application->name?> <sup><?=$_config->application->version?></sup></div>
        <div class="left-item-last">&nbsp;</div>
        <div class="right-item"><a id="showfeatureform" href="#feature" title=" <?=view::$language->feature_add?> "><?=view::$language->feature_add?></a></div>

    </div>

    <div id="innerdata" data-deletefeatureconfirm="<?=view::$language->feature_delete_confirm?>" data-target="<?=$target_node?>"></div>

    <div class="topfcap featurecaption">

        <h3><?=view::$language->name?></h3>
        <h3><?=view::$language->value?></h3>

        <div class="clear"></div>

    </div>

    <div id="featurelist">

        <?php foreach ($features as $item) { ?>

            <form class="feature" action="<?=$config->site->admin_tools_link?>/node-features/save" method="post">

                <div class="name">
                    <input type="text" name="name" value="<?=$item['fname']?>" data-value="<?=$item['fname']?>" autocomplete="off" />
                    <div class="autocomplete"></div>
                </div>

                <div class="value">
                    <input type="text" name="value" value="<?=$item['fvalue']?>" data-value="<?=$item['fvalue']?>" autocomplete="off" />
                    <div class="autocomplete"></div>
                </div>

                <div class="save">
                    <input type="hidden" name="node_id" value="<?=$item['node_id']?>" />
                    <input type="submit" name="save" value=" &raquo; " title=" <?=view::$language->save?> " />
                </div>

                <div class="delete">
                    <a href="<?=$config->site->admin_tools_link?>/node-features/delete?id=<?=$item['feature_id']?>&target=<?=$item['node_id']?>" title=" <?=view::$language->delete_now?> ">✖</a>
                </div>

                <div class="clear"></div>

            </form>

        <?php } ?>

    </div>

    <div id="newfeatureform">

        <div class="featurecaption">

            <h3><?=view::$language->name?></h3>
            <h3><?=view::$language->value?></h3>

            <div class="clear"></div>

        </div>

        <form class="feature" action="<?=$config->site->admin_tools_link?>/node-features/save" method="post">

            <div class="name">
                <input id="new-feature-name" type="text" name="name" value="" data-value="" autocomplete="off" />
                <div class="autocomplete"></div>
            </div>

            <div class="value">
                <input type="text" name="value" value="" data-value="" autocomplete="off" />
                <div class="autocomplete"></div>
            </div>

            <div class="save">
                <input type="hidden" name="node_id" value="<?=$target_node?>" />
                <input type="submit" name="save" value=" &raquo; " title=" <?=view::$language->save?> " />
            </div>

            <div class="clear"></div>

        </form>

    </div>

    <div class="h-120"></div>

</div>

<div id="notifier">
    <div class="notify">

        <h3></h3>
        <p></p>

    </div>
</div>

<script type="text/javascript">
    $("body, html").css({backgroundColor:"#ffffff"});
</script>

</body>
</html>
