<?php require $_config->layouts->header; ?>


    <h1><?=$page_h1?></h1>

    <form class="silentform" action="<?=$_config->site->admin_tools_link?>/users/edit?id=<?=$user['id']?>" method="post">
        <div class="form">

            <div class="label mt-20"><?=view::$language->users_group?>:</div>
            <div class="elem mt-20">

                <select class="required" name="group_id">
                    <?=htmlHelper::drawOptionList($grouplist)?>
                </select>

            </div>

            <div class="label"><?=view::$language->users_status?>:</div>
            <div class="elem">

                <select class="required" name="status">
                    <?=htmlHelper::drawOptionList($statuslist)?>
                </select>

            </div>

            <div class="label"><?=view::$language->users_language?>:</div>
            <div class="elem">

                <select name="language">
                    <?=htmlHelper::drawOptionList($languages)?>
                </select>

            </div>

            <div class="label mt-20"><?=view::$language->users_nickname?>:</div>
            <div class="elem mt-20"><input class="required" type="text" name="login" value="<?=$user['login']?>" /></div>

            <div class="label"><?=view::$language->users_email?>:</div>
            <div class="elem"><input class="required" type="text" name="email" value="<?=$user['email']?>" /></div>

            <div class="label mt-20"><?=view::$language->users_password?>:</div>
            <div class="elem mt-20">
                <input class="short" id="password" after="clean" type="text" name="password" value="" />
                <a href="#generate" class="info" onclick="return generatePassword();"><?=view::$language->users_generate?></a>
            </div>

            <div class="label"><?=view::$language->users_password_confirm?>:</div>
            <div class="elem">
                <input class="short" id="confirmpassword" after="clean" type="text" name="confirmpassword" value="" />
            </div>

            <div class="label mt-20"><?=view::$language->users_user_about?>:</div>
            <div class="elem mt-20"><textarea rows="4" name="about"><?=$user['about']?></textarea></div>

            <div class="label mt-20">&nbsp;</div>
            <div class="elem mt-20"><span class="info"><?=view::$language->users_red_is_required?></span></div>
            <div class="label">&nbsp;</div>
            <div class="elem">
                <input type="submit" name="silentsave" value=" <?=view::$language->users_save?> " />
                <input type="submit" name="save" value=" <?=view::$language->users_save_and_out?> " />
            </div>

            <div class="clear"></div>

        </div>
    </form>


<?php require $_config->layouts->footer; ?>
